[Unit]
Description=Kentik Export Service
After=network.target

[Service]
EnvironmentFile=-/etc/default/kentik.env
Type=simple
User=root
WorkingDirectory=/root
#Environment=KENTIK_API_TOKEN=${KENTIK_API_TOKEN}
ExecStart=/usr/bin/python3 /home/henry/kproxy-check.py ${PRIMARY_KPROXY_IP} ${PRIMARY_KPROXY_HC_PORT} ${PRIMARY_KPROXY_HC_INTERVAL} ${PRIMARY_KPROXY_MAX_FAILS}
Restart=on-failure
RestartSec=3
## Restart on failure but wait 3 sec.

[Install]
WantedBy=multi-user.target
